In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('ufo_sightings.csv')

/Users/ptyshevs/py_env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.shape

(80332, 11)

In [4]:
df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [5]:
df.dtypes

datetime                 object
city                     object
state                    object
country                  object
shape                    object
duration (seconds)       object
duration (hours/min)     object
comments                 object
date posted              object
latitude                 object
longitude               float64
dtype: object

In [6]:
# Why are there so many object types?
# How about coersive convertion?
df.latitude = pd.to_numeric(df.latitude, errors='coerse')

In [7]:
df[df.latitude.isna()] # oh, there you are

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
43782,5/22/1974 05:30,mescalero indian reservation,nm,NaN,rectangle,180,two hours,Huge rectangular object emmitting intense whit...,4/18/2012,NaN,-105.624152

In [8]:
df = df.drop([43782])

In [9]:
df['date posted'] = pd.to_datetime(df['date posted'])
df['datetime'] = pd.to_datetime(df['datetime'], errors='coerce')

In [10]:
df = df.drop(df[df.datetime.isna()].index)

In [11]:
df['duration (seconds)'] = pd.to_numeric(df['duration (seconds)'], errors='coerse', downcast='unsigned')

/Users/ptyshevs/py_env/lib/python3.6/site-packages/numpy/core/fromnumeric.py:83: RuntimeWarning: invalid value encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

In [12]:
df = df.drop(df[df['duration (seconds)'].isna()].index)

In [14]:
df['shape'] = df['shape'].astype("category")

In [20]:
df.country.isna().value_counts() # use kNN to implace those

False    70103
True      9531
Name: country, dtype: int64

In [21]:
df.state.isna().value_counts() # use mean implace after training model

False    73949
True      5685
Name: state, dtype: int64

In [25]:
np.any(df['city'].isna())

False

In [24]:
np.any(df['duration (hours/min)'].isna())

False

In [26]:
df.dtypes

datetime                datetime64[ns]
city                            object
state                           object
country                         object
shape                         category
duration (seconds)             float64
duration (hours/min)            object
comments                        object
date posted             datetime64[ns]
latitude                       float64
longitude                      float64
dtype: object

In [29]:
# Seems clear now, exporting
df.to_csv("clean_ufo_sightings.csv", index=False)